body {
    height: 800px;
    width: 1000px;
    background-color: aquamarine;
}

#baner {
    height: 40%;
    width: ;
    background-color: red;

}
#menu {
    height: 50%;
    width: 40%;
    float: left;
    background-color: deepskyblue;
}
#tresc {
    height: 50%;
    width: 60%;
    float: left;
    background-color: darkkhaki;
}
#stopka {
    height: 10%;
    width: 100%;
    float: left;
 background-color: red;
}


